<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/BaseCSS/detalle.css">
    <link rel="stylesheet" href="/static/BaseCSS/common.css">
    <title>Detalles del Gimnasio</title>
</head>
<body>
    <input type="hidden" id="idGim" value="{{idGim}}">
    <section class="contenedor" id="contenedor">
    </section>
    <a href="http://"></a>
</body>
<script src="/static/BaseJs/detalleGimnasio.js"></script>
</html>