<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/BaseCSS/detalle.css">
    <link rel="stylesheet" href="/static/BaseCSS/common.css">
    <title>Detalles del evento</title>
</head>
<body>
    <img src="../../static/Imagenes/ENAT.png" alt="" class="imagenFondo">
    <input type="hidden" id="idEve" value="{{idEve}}">
    <section class="contenedor" id="contenedor">
    </section>
</body>
<script src="/static/BaseJs/detalleEvento.js"></script>
</html>