.contenedor {
    width: 70%;
    margin: 10% 15%;
    background-color: darkgrey;
    border: solid black 2px;
    border-radius: 20px;
    text-align: center;
}
.contenedor table{
    width: 100%;
}

.detalle,
.cuatroBotones,
.tresBotones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.detalle p,
.cuatroBotones button {
    width: 40%;
}
.detalleEvento{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* .detalleEvento p {
    width: 30%;
} */

.unBoton {
    width: 30% !important;
}

.contConFoto {
    display: flex;
    flex-direction: row;
}

.contConFoto div {
    width: 50%;
}

.contConFoto div img {
    width: inherit;
}

.tresBotones button {
    width: 30%;
}

@media screen and (max-width: 768px) {
    .contenedor {
        width: 100%;
        margin: 10% 0;
    }

    .detalle,
    .contConFoto div,
    .contConFoto div p {
        width: 100%;
    }

    .detalle p,
    .cuatroBotones button,
    .tresBotones button {
        width: 100%;
    }

    .contConFoto {
        flex-direction: column-reverse;
    }

    .contConFoto div img {
        width: 50%;
    }
}