.cajaLogin{
    width: 50%;
    margin: 15% 25% 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cajaLogin h1{
    font-size: 1.5em;
}
.cajaLogin input{
    width: 70%;
}
.cajaLogin div{
    width: 100%;
}
.cajaLogin div span{
    position: absolute;
    right: 32.5%;
}
@media screen and (max-width: 768px){
    .cajaLogin{
        width: 100%;
        margin: 15% 0 0 0;
    }
    .cajaLogin input{
        width: 80%;
    }
    .cajaLogin div span{
        right: 10%;
    }
}