<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/BaseCSS/common.css">
    <link rel="stylesheet" href="/static/BaseCSS/ver.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Ver alumnos</title>
</head>

<body>
    <img src="../../static/Imagenes/ENAT.png" alt="" class="imagenFondo">
    <div class="botonLink" id="botonLink">
        <span class="material-symbols-outlined" style="font-size: 40px;">menu</span>
    </div>
    <section class="contAlu">
        <div class="filtroAlu">
            <h3 id="cantAlus"></h3>
            <div>
                <h2>Nombre</h2>
                <input type="text" id="Nombre">
            </div>
            <div>
                <h2>Apellido</h2>
                <input type="text" id="Apellido">
            </div>
            <div>
                <h2>Categoria</h2>
                <select id="Categoria">
                    {% for idCate, cate in categoria %}
                    <option value="{{idCate}}">{{cate}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <h4 id="asignaUsuario"></h4>
                <h2>Usuario</h2>
                <select id="usuAlu">
                    {% for tdoc, doc, ape, nom, cate in usuario %}
                    <option value="{{tdoc}},{{doc}}">{{ape}} {{nom}} {{cate}}</option>
                    {% endfor %}
                </select>
                <h2>Gimnasio</h2>
                <select id="usuGim">
                    {% for id, nom in gimnasio %}
                    <option value="{{id}}">{{nom}}</option>
                    {% endfor %}
                </select>
            </div>
            <div name="habiDesa">
                <h4>Ultimo examen</h4>
                <div>
                    <label for="fdExamen">Desde</label>
                    <input type="date" id="fdExamen">
                </div>
                <div>
                    <label for="fhExamen">Hasta</label>
                    <input type="date" id="fhExamen">
                </div>
            </div>
            <div>
                <button type="button" class="btnRedondeado" onclick="ordenar()" id="exa">Ordenar por examen</button>
            </div>
            <div name="habiDesa">
                {% if exaCap[0] %}
                <button class="btnRedondeado" onclick="aAluEven('{{exaCap[1]}}')">Examen capital: {{exaCap[0]}}</button>
                {% endif %}
                {% if exaProv[0] %}
                <button class="btnRedondeado" onclick="aAluEven('{{exaProv[1]}}')">Examen provincia: {{exaProv[0]}}</button>
                {% endif %}
                {% if tor[0] %}
                <button class="btnRedondeado" onclick="aAluEven('{{tor[1]}}')">Torneo: {{tor[0]}}</button>
                {% endif %}
                {% if otro[0] %}
                <button class="btnRedondeado" onclick="aAluEven('{{otro[1]}}')">Evento: {{otro[0]}}</button>
                {% endif %}
                {% if dan[0] %}
                <button class="btnRedondeado" onclick="aAluEven('{{dan[1]}}')">Examen de danes: {{dan[0]}}</button>
                {% endif %}
            </div>
            {% if cargo %}
            <div name="habiDesa">
                <button class="btnRedondeado" onclick="aluMatri(1)">AATEE</button>
                <button class="btnRedondeado" onclick="aluMatri(2)">Enat</button>
            </div>
            {% endif %}
            <div name="habiDesa">
                <button class="btnRedondeado" onclick="desaAlu()">Deshabilitar</button>
                <button class="btnRedondeado" onclick="vDesaAlu()">Ver deshabilitados</button>
            </div>
            <div name="dasaHabi">
                <button class="btnRedondeado" onclick="elimAlu()">Eliminar</button>
                <button class="btnRedondeado" onclick="habiAlu()">Habilitar</button>
            </div>
            <div name="dasaHabi">
                <button class="btnRedondeado" onclick="botVerHabi()">Ver habilitados</button>
            </div>
            <div>
                <button class="btnRedondeado" id="botFiltro" onclick="filtroAlumno()">Aceptar</button>
                <button class="btnRedondeado" onclick="location.href='/MainBase'">Regresar</button>
            </div>
        </div>
        <table border="1" class="tablaAlu">
            <thead>
                <th></th>
                <th name="celDesaHabi">Deshabilitado</th>
                <th name="celhabiDesa">Ult. examen</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th name="celhabiDesa">Instructor</th>
                <th name="celhabiDesa">Gimnasio</th>
                <th>Categoria</th>
                {% if cargo %}
                <th name="celhabiDesa">Enat</th>
                <th name="celhabiDesa">AATEE</th>
                {% endif %}
                <th name="celhabiDesa"></th>
            </thead>
            <tbody id="TablaAlumno"></tbody>
        </table>
    </section>
</body>
<script src="/static/BaseJs/verAlumno.js"></script>
<script src="/static/BaseJs/enlaceMovil.js"></script>

</html>