<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/BaseCSS/common.css">
    <link rel="stylesheet" href="/static/BaseCSS/ver.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Ver gimnasios</title>
</head>
<body>
    <img src="../../static/Imagenes/ENAT.png" alt="" class="imagenFondo">
    <div class="botonLink" id="botonLink">
        <span class="material-symbols-outlined" style="font-size: 40px;">menu</span>
    </div>
    <div class="contenedor">
        <section class="filtro">
            <h4 id="Titulo">Instructor</h4>
            <select name="" id="Instructor">
                {% for tdoc, doc, nom, ape, cate in usuario %}
                    <option value="{{tdoc}},{{doc}}">{{nom}} {{ape}} {{cate}}</option>
                {% endfor %}
            </select>
            <button class="btnRedondeado" onclick="verDesaHabi(0)" id="vDeshabilitado">Ver deshabilitados</button>
            <button class="btnRedondeado" onclick="verDesaHabi(1)" style="display: none;" id="vHabilitado">Ver habilitados</button>
            <button class="btnRedondeado" onclick="location.href='/MainBase'">Regresar</button>
        </section>
        <table border="1" class="tabla">
            <thead>
                <th>Nombre</th>
                <th>Dirección</th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="tableGimnsaio"></tbody>
        </table>
    </div>
</body>
<script src="/static/BaseJs/verGimnasio.js"></script>
<script src="/static/BaseJs/enlaceMovil.js"></script>
</html>