<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/BaseCSS/common.css">
    <link rel="stylesheet" href="/static/BaseCSS/cambiarContra.css">
    <title>Cambiar contraseña</title>
</head>
<body>
    <img src="../../static/Imagenes/ENAT.png" alt="" class="imagenFondo">
    <form action="" method="post" class="contenedor">
        {% if msj %}
            <p>{{msj}}</p>
        {% endif %}
        <label>Contraseña nueva</label>
        <input type="password" name="contra_1" class="input">
        <label>Vuelva a introducir la contraseña</label>
        <input type="password" name="contra_2" class="Input">
        <div class="dosBotones">
            <button class="btnRedondeado" type="button" onclick="location.href='/MainBase'">Regresar</button>
            <button class="btnRedondeado" type="submit">Aceptar</button>
        </div>
    </form>
</body>
</html>