<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/BaseCSS/login.css">
    <link rel="stylesheet" href="/static/BaseCSS/common.css">
    <title>Login</title>
</head>
<body>
    <img src="../../static/Imagenes/ENAT.png" alt="" class="imagenFondo">
    <form action="" method="post" class="cajaLogin">
        <h1>BIENVENIDO A LA BASE DE DATOS</h1>
        <h4>{{msj}}</h4>
        <label for="mail" class="label">Correo</label>
        <input type="email" name="mail">
        <label for="contra" class="label">Contraseña</label>
        <input type="password" name="contra">
        <section class="dosBotones">
            <button class="btnRedondeado" type="submit">Ingresar</button>
            <button class="btnRedondeado">Regresar</button>
        </section>
    </form>
</body>
</html>